html,body{
	background-color: #FAFAFA;
	font-family: Microsoft YaHei;
}
#logForm{
}
#formDiv{
	margin-top: 7%;
}
input[type=email],input[type=password]{
	font-size: 14px
	font-style: normal;
	font-weight: 500px;
	line-height: 16px;
	letter-spacing: 0.0357143em;
	padding-left: 10px;
    border-radius: 5px;
	background-color: #BDBDBD;
	width: 260px;
    height: 36px;
    background: #F2F2F2;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
}
#btn2{
    width: 260px;
    height: 36px;
	background: #38A1F3;
	border: transparent;
    border-radius: 2px;
}
#btn1{
	width: 262px;
    height: 36px;
    border: transparent;
    background-color: rgba(187, 107, 217, 0.25);
    border-radius: 2px;

}
#fgt{
	margin-top: 2px;
	width: 162px;
	height: 18px;
	line-height: 14px;
	letter-spacing: 0.0357143em;
}
#orLine{
	display: inline-flex;
}
hr{
	width: 112px;
	height: 0px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}
#yy{
	margin-top: 45px; 
}
a{
	text-decoration: none;
}